In [1]:
import numpy as np
import pandas as pd

# 1. Combine Cryptocurrency Data

In [2]:
dogecoin = pd.read_csv("dogecoin.csv")
dogecoin["symbol"] = "DOGE"
dogecoin["Date"] = pd.to_datetime(dogecoin["Date"])
dogecoin["momentum"] = dogecoin["Change %"].str.rstrip("%").astype("float") / 100.0

vechain = pd.read_csv("vechain.csv")
vechain["symbol"] = "VET"
vechain["Date"] = pd.to_datetime(vechain["Date"])
vechain["momentum"] = vechain["Change %"].str.rstrip("%").astype("float") / 100.0

cardano = pd.read_csv("cardano.csv")
cardano["symbol"] = "ADA"
cardano["Date"] = pd.to_datetime(cardano["Date"])
cardano["momentum"] = cardano["Change %"].str.rstrip("%").astype("float") / 100.0

hedera_hashgraph = pd.read_csv("hedera_hashgraph.csv")
hedera_hashgraph["symbol"] = "HBAR"
hedera_hashgraph["Date"] = pd.to_datetime(hedera_hashgraph["Date"])
hedera_hashgraph["momentum"] = hedera_hashgraph["Change %"].str.rstrip("%").astype("float") / 100.0

litecoin = pd.read_csv("litecoin.csv")
litecoin["symbol"] = "LTC"
litecoin["Date"] = pd.to_datetime(litecoin["Date"])
litecoin["momentum"] = litecoin["Change %"].str.rstrip("%").astype("float") / 100.0

stellar = pd.read_csv("stellar.csv")
stellar["symbol"] = "XLM"
stellar["Date"] = pd.to_datetime(stellar["Date"])
stellar["momentum"] = stellar["Change %"].str.rstrip("%").astype("float") / 100.0

eos = pd.read_csv("eos.csv")
eos["symbol"] = "EOS"
eos["Date"] = pd.to_datetime(eos["Date"])
eos["momentum"] = eos["Change %"].str.rstrip("%").astype("float") / 100.0

tron = pd.read_csv("tron.csv")
tron["symbol"] = "TRX"
tron["Date"] = pd.to_datetime(tron["Date"])
tron["momentum"] = tron["Change %"].str.rstrip("%").astype("float") / 100.0

xrp = pd.read_csv("xrp.csv")
xrp["symbol"] = "XRP"
xrp["Date"] = pd.to_datetime(xrp["Date"])
xrp["momentum"] = xrp["Change %"].str.rstrip("%").astype("float") / 100.0

tether = pd.read_csv("tether.csv")
tether["symbol"] = "USDT"
tether["Date"] = pd.to_datetime(tether["Date"])
tether["momentum"] = tether["Change %"].str.rstrip("%").astype("float") / 100.0

polkadot = pd.read_csv("polkadot.csv")
polkadot["symbol"] = "DOT"
polkadot["Date"] = pd.to_datetime(polkadot["Date"])
polkadot["momentum"] = polkadot["Change %"].str.rstrip("%").astype("float") / 100.0

solana = pd.read_csv("solana.csv")
solana["symbol"] = "SOL"
solana["Date"] = pd.to_datetime(solana["Date"])
solana["momentum"] = solana["Change %"].str.rstrip("%").astype("float") / 100.0

avalanche = pd.read_csv("avalanche.csv")
avalanche["symbol"] = "AVAX"
avalanche["Date"] = pd.to_datetime(avalanche["Date"])
avalanche["momentum"] = avalanche["Change %"].str.rstrip("%").astype("float") / 100.0

theta = pd.read_csv("theta.csv")
theta["symbol"] = "THETA"
theta["Date"] = pd.to_datetime(theta["Date"])
theta["momentum"] = theta["Change %"].str.rstrip("%").astype("float") / 100.0

iota = pd.read_csv("iota.csv")
iota["symbol"] = "MIOTA"
iota["Date"] = pd.to_datetime(iota["Date"])
iota["momentum"] = iota["Change %"].str.rstrip("%").astype("float") / 100.0

uniswap = pd.read_csv("uniswap.csv")
uniswap["symbol"] = "UNI"
uniswap["Date"] = pd.to_datetime(uniswap["Date"])
uniswap["momentum"] = uniswap["Change %"].str.rstrip("%").astype("float") / 100.0

chainlink = pd.read_csv("chainlink.csv")
chainlink["symbol"] = "LINK"
chainlink["Date"] = pd.to_datetime(chainlink["Date"])
chainlink["momentum"] = chainlink["Change %"].str.rstrip("%").astype("float") / 100.0

monero = pd.read_csv("monero.csv")
monero["symbol"] = "XMR"
monero["Date"] = pd.to_datetime(monero["Date"])
monero["momentum"] = monero["Change %"].str.rstrip("%").astype("float") / 100.0

aave = pd.read_csv("aave.csv")
aave["symbol"] = "AAVE"
aave["Date"] = pd.to_datetime(aave["Date"])
aave["momentum"] = aave["Change %"].str.rstrip("%").astype("float") / 100.0

maker = pd.read_csv("maker.csv")
maker["symbol"] = "MKR"
maker["Date"] = pd.to_datetime(maker["Date"])
maker["momentum"] = maker["Change %"].str.rstrip("%").astype("float") / 100.0

dash = pd.read_csv("dash.csv")
dash["symbol"] = "DASH"
dash["Date"] = pd.to_datetime(dash["Date"])
dash["momentum"] = dash["Change %"].str.rstrip("%").astype("float") / 100.0

In [3]:
combined_crypto = pd.concat([dogecoin, vechain, cardano, hedera_hashgraph, litecoin, stellar, eos, tron, xrp, tether, polkadot, solana, avalanche, theta, iota, uniswap, chainlink, monero, aave, maker, dash])
combined_crypto = combined_crypto.loc[:, ["Date", "symbol", "momentum"]]
combined_crypto = combined_crypto.sort_values(by = ["symbol", "Date"])
combined_crypto.rename(columns={"Date": "date"}, inplace=True)
combined_crypto

          date symbol  momentum
119 2021-01-01   AAVE    0.0259
118 2021-01-02   AAVE   -0.0530
117 2021-01-03   AAVE    0.0882
116 2021-01-04   AAVE    0.2178
115 2021-01-05   AAVE    0.0510
..         ...    ...       ...
4   2021-04-26    XRP    0.3223
3   2021-04-27    XRP    0.0254
2   2021-04-28    XRP   -0.0312
1   2021-04-29    XRP    0.0296
0   2021-04-30    XRP    0.1423

[2520 rows x 3 columns]

# 2. Combine Twitter Data

In [4]:
dogecoin_twitter = pd.read_csv("DOGE.csv")
dogecoin_twitter["symbol"] = "DOGE"
dogecoin_twitter["date"] = pd.to_datetime(dogecoin_twitter["date"])

vechain_twitter = pd.read_csv("VET.csv")
vechain_twitter["symbol"] = "VET"
vechain_twitter["date"] = pd.to_datetime(vechain_twitter["date"])

cardano_twitter = pd.read_csv("ADA.csv")
cardano_twitter["symbol"] = "ADA"
cardano_twitter["date"] = pd.to_datetime(cardano_twitter["date"])

hedera_hashgraph_twitter = pd.read_csv("HBAR.csv")
hedera_hashgraph_twitter["symbol"] = "HBAR"
hedera_hashgraph_twitter["date"] = pd.to_datetime(hedera_hashgraph_twitter["date"])

litecoin_twitter = pd.read_csv("LTC.csv")
litecoin_twitter["symbol"] = "LTC"
litecoin_twitter["date"] = pd.to_datetime(litecoin_twitter["date"])

stellar_twitter = pd.read_csv("XLM.csv")
stellar_twitter["symbol"] = "XLM"
stellar_twitter["date"] = pd.to_datetime(stellar_twitter["date"])

eos_twitter = pd.read_csv("EOS.csv")
eos_twitter["symbol"] = "EOS"
eos_twitter["date"] = pd.to_datetime(eos_twitter["date"])

tron_twitter = pd.read_csv("TRX.csv")
tron_twitter["symbol"] = "TRX"
tron_twitter["date"] = pd.to_datetime(tron_twitter["date"])

xrp_twitter = pd.read_csv("XRP.csv")
xrp_twitter["symbol"] = "XRP"
xrp_twitter["date"] = pd.to_datetime(xrp_twitter["date"])

tether_twitter = pd.read_csv("USDT.csv")
tether_twitter["symbol"] = "USDT"
tether_twitter["date"] = pd.to_datetime(tether_twitter["date"])

polkadot_twitter = pd.read_csv("DOT.csv")
polkadot_twitter["symbol"] = "DOT"
polkadot_twitter["date"] = pd.to_datetime(polkadot_twitter["date"])

solana_twitter = pd.read_csv("SOL.csv")
solana_twitter["symbol"] = "SOL"
solana_twitter["date"] = pd.to_datetime(solana_twitter["date"])

avalanche_twitter = pd.read_csv("AVAX.csv")
avalanche_twitter["symbol"] = "AVAX"
avalanche_twitter["date"] = pd.to_datetime(avalanche_twitter["date"])

theta_twitter = pd.read_csv("THETA.csv")
theta_twitter["symbol"] = "THETA"
theta_twitter["date"] = pd.to_datetime(theta_twitter["date"])

iota_twitter = pd.read_csv("MIOTA.csv")
iota_twitter["symbol"] = "MIOTA"
iota_twitter["date"] = pd.to_datetime(iota_twitter["date"])

uniswap_twitter = pd.read_csv("UNI.csv")
uniswap_twitter["symbol"] = "UNI"
uniswap_twitter["date"] = pd.to_datetime(uniswap_twitter["date"])

chainlink_twitter = pd.read_csv("LINK.csv")
chainlink_twitter["symbol"] = "LINK"
chainlink_twitter["date"] = pd.to_datetime(chainlink_twitter["date"])

monero_twitter = pd.read_csv("XMR.csv")
monero_twitter["symbol"] = "XMR"
monero_twitter["date"] = pd.to_datetime(monero_twitter["date"])

aave_twitter = pd.read_csv("AAVE.csv")
aave_twitter["symbol"] = "AAVE"
aave_twitter["date"] = pd.to_datetime(aave_twitter["date"])

maker_twitter = pd.read_csv("MKR.csv")
maker_twitter["symbol"] = "MKR"
maker_twitter["date"] = pd.to_datetime(maker_twitter["date"])

dash_twitter = pd.read_csv("DASH.csv")
dash_twitter["symbol"] = "DASH"
dash_twitter["date"] = pd.to_datetime(dash_twitter["date"])

In [5]:
combined_twitter = pd.concat([dogecoin_twitter, vechain_twitter, cardano_twitter, hedera_hashgraph_twitter, litecoin_twitter, stellar_twitter, eos_twitter, tron_twitter, xrp_twitter, tether_twitter, polkadot_twitter, solana_twitter, avalanche_twitter, theta_twitter, iota_twitter, uniswap_twitter, chainlink_twitter, monero_twitter, aave_twitter, maker_twitter, dash_twitter])
combined_twitter.drop(["Unnamed: 0"], axis=1, inplace=True)
combined_twitter = combined_twitter.sort_values(by = ["symbol", "date"])
combined_twitter

,date,num_tweets,replies_sum,retweets_sum,likes_sum,subjectivity_sum,polarity_sum,replies_avg,retweets_avg,likes_avg,subjectivity_avg,polarity_avg,tone_most_common,symbol
0,2021-01-01,175,356,269,2167,55.468704,12.221062,2.034286,1.537143,12.382857,0.316964,0.069835,Neutral,AAVE
1,2021-01-02,167,323,348,2826,52.802993,13.314617,1.934132,2.083832,16.922156,0.316186,0.079728,Positive,AAVE
2,2021-01-03,360,451,351,3992,96.812194,33.454420,1.252778,0.975000,11.088889,0.268923,0.092929,Neutral,AAVE
3,2021-01-04,438,453,325,3105,139.452321,55.558508,1.034247,0.742009,7.089041,0.318384,0.126846,Positive,AAVE
4,2021-01-05,443,426,380,3423,136.298156,42.986306,0.961625,0.857788,7.726862,0.307671,0.097035,Positive,AAVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2021-04-26,4098,7236,16123,67855,1412.623629,494.148707,1.765739,3.934358,16.558077,0.344710,0.120583,Positive,XRP
116,2021-04-27,3337,7544,9598,60230,1182.201920,449.126825,2.260713,2.876236,18.049146,0.354271,0.134590,Positive,XRP
117,2021-04-28,2815,4358,7652,38325,1085.098407,364.984124,1.548135,2.718295,13.614565,0.385470,0.129657,Positive,XRP
118,2021-04-29,3667,9166,10199,70868,1222.025221,419.944414,2.499591,2.781293,19.325879,0.333249,0.114520,Neutral,XRP
119,2021-04-30,4227,8431,12901,75112,1396.095669,519.023679,1.994559,3.052046,17.769577,0.330280,0.122788,Positive,XRP

# Combine the Cryptocurrency and Twitter Data

In [6]:
combined_final = pd.merge(combined_crypto, combined_twitter, how='left', on = ['date', 'symbol']).reset_index(drop=True)
combined_final

,date,symbol,momentum,num_tweets,replies_sum,retweets_sum,likes_sum,subjectivity_sum,polarity_sum,replies_avg,retweets_avg,likes_avg,subjectivity_avg,polarity_avg,tone_most_common
0,2021-01-01,AAVE,0.0259,175,356,269,2167,55.468704,12.221062,2.034286,1.537143,12.382857,0.316964,0.069835,Neutral
1,2021-01-02,AAVE,-0.0530,167,323,348,2826,52.802993,13.314617,1.934132,2.083832,16.922156,0.316186,0.079728,Positive
2,2021-01-03,AAVE,0.0882,360,451,351,3992,96.812194,33.454420,1.252778,0.975000,11.088889,0.268923,0.092929,Neutral
3,2021-01-04,AAVE,0.2178,438,453,325,3105,139.452321,55.558508,1.034247,0.742009,7.089041,0.318384,0.126846,Positive
4,2021-01-05,AAVE,0.0510,443,426,380,3423,136.298156,42.986306,0.961625,0.857788,7.726862,0.307671,0.097035,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,2021-04-26,XRP,0.3223,4098,7236,16123,67855,1412.623629,494.148707,1.765739,3.934358,16.558077,0.344710,0.120583,Positive
2516,2021-04-27,XRP,0.0254,3337,7544,9598,60230,1182.201920,449.126825,2.260713,2.876236,18.049146,0.354271,0.134590,Positive
2517,2021-04-28,XRP,-0.0312,2815,4358,7652,38325,1085.098407,364.984124,1.548135,2.718295,13.614565,0.385470,0.129657,Positive
2518,2021-04-29,XRP,0.0296,3667,9166,10199,70868,1222.025221,419.944414,2.499591,2.781293,19.325879,0.333249,0.114520,Neutral
2519,2021-04-30,XRP,0.1423,4227,8431,12901,75112,1396.095669,519.023679,1.994559,3.052046,17.769577,0.330280,0.122788,Positive

In [7]:
combined_final.to_csv('combined_final')