In [1]:
import numpy as np
import pandas as pd

In [2]:
crypto = pd.read_csv('combined_crypto')
crypto.drop(['Unnamed: 0'], axis=1, inplace=True)
crypto.head()

         date symbol  momentum
0  2021-01-01   AAVE    0.0259
1  2021-01-02   AAVE   -0.0530
2  2021-01-03   AAVE    0.0882
3  2021-01-04   AAVE    0.2178
4  2021-01-05   AAVE    0.0510

In [3]:
twitter = pd.read_csv('combined_twitter')
twitter.drop(['Unnamed: 0'], axis=1, inplace=True)
twitter.head()

,date,num_tweets,replies_sum,retweets_sum,likes_sum,subjectivity_sum,polarity_sum,replies_avg,retweets_avg,likes_avg,subjectivity_avg,polarity_avg,tone_most_common,symbol
0,2021-01-01,175,356,269,2167,55.468704,12.221062,2.034286,1.537143,12.382857,0.316964,0.069835,Neutral,AAVE
1,2021-01-02,167,323,348,2826,52.802993,13.314617,1.934132,2.083832,16.922156,0.316186,0.079728,Positive,AAVE
2,2021-01-03,360,451,351,3992,96.812194,33.454420,1.252778,0.975000,11.088889,0.268923,0.092929,Neutral,AAVE
3,2021-01-04,438,453,325,3105,139.452321,55.558508,1.034247,0.742009,7.089041,0.318384,0.126846,Positive,AAVE
4,2021-01-05,443,426,380,3423,136.298156,42.986306,0.961625,0.857788,7.726862,0.307671,0.097035,Positive,AAVE

In [4]:
combined = pd.merge(crypto, twitter, how='left', on = ['date', 'symbol'])
combined

,date,symbol,momentum,num_tweets,replies_sum,retweets_sum,likes_sum,subjectivity_sum,polarity_sum,replies_avg,retweets_avg,likes_avg,subjectivity_avg,polarity_avg,tone_most_common
0,2021-01-01,AAVE,0.0259,175,356,269,2167,55.468704,12.221062,2.034286,1.537143,12.382857,0.316964,0.069835,Neutral
1,2021-01-02,AAVE,-0.0530,167,323,348,2826,52.802993,13.314617,1.934132,2.083832,16.922156,0.316186,0.079728,Positive
2,2021-01-03,AAVE,0.0882,360,451,351,3992,96.812194,33.454420,1.252778,0.975000,11.088889,0.268923,0.092929,Neutral
3,2021-01-04,AAVE,0.2178,438,453,325,3105,139.452321,55.558508,1.034247,0.742009,7.089041,0.318384,0.126846,Positive
4,2021-01-05,AAVE,0.0510,443,426,380,3423,136.298156,42.986306,0.961625,0.857788,7.726862,0.307671,0.097035,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2515,2021-04-26,XRP,0.3223,4098,7236,16123,67855,1412.623629,494.148707,1.765739,3.934358,16.558077,0.344710,0.120583,Positive
2516,2021-04-27,XRP,0.0254,3337,7544,9598,60230,1182.201920,449.126825,2.260713,2.876236,18.049146,0.354271,0.134590,Positive
2517,2021-04-28,XRP,-0.0312,2815,4358,7652,38325,1085.098407,364.984124,1.548135,2.718295,13.614565,0.385470,0.129657,Positive
2518,2021-04-29,XRP,0.0296,3667,9166,10199,70868,1222.025221,419.944414,2.499591,2.781293,19.325879,0.333249,0.114520,Neutral
2519,2021-04-30,XRP,0.1423,4227,8431,12901,75112,1396.095669,519.023679,1.994559,3.052046,17.769577,0.330280,0.122788,Positive

In [5]:
combined.to_csv('combined_final')